.root {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 10px;
}

.userName {
  font-weight: 500;
  font-size: 14px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.additional {
  font-size: 12px;
  opacity: 0.6;
}


@media (max-width: 480px) {
  .avatar {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .userName { 
    font-size: 10px;
    line-height: 10px;
  }
  .additional {
    font-size: 8px;
    line-height: 8px;
  }
}