.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatarContainer {
  display: flex;  
  justify-content: center;
  margin-bottom: 30px;

  .avatar {
    cursor: pointer;

    div {
      opacity: .7;
    }

    img {
      opacity: 1;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    &:hover div {
      opacity: 1;
    }
  }

}



