$blue: #4361ee;

.root {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;

  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .editButtons {
      opacity: 1;
    }
  }

  &Full {
    &:hover {
      background-color: #fff;
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.wrapper {
  padding: 10px 20px 10px;
}

.content {
  margin: 0 0 30px;

  p {
    font-size: 22px;
    line-height: 25px;
  }
}

.indention {
  padding-left: 40px;
}

.title {
  font-size: 20px;
  margin: 0;
  line-height: 1;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: $blue;
    }
  }

  &Full {
    font-size: 40px;
    font-weight: 900;
  }
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.postDetails {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0; 

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    opacity: 0.5;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

@media (max-width: 599.9px) {
  .root {
    width: 92vw;
  }

  .image {
    height: 200px;
  }

  .skeleton {
    width: 94vw;
    border-radius: 8px;
  }

  .skeletonContent {
    padding: 10px;
  }

  .skeletonUser {
    &Details {
      span {
        width: 50px !important;
        height: 15px !important;
      }
    }
  }

  .skeletonInfo {
    margin-left: 20px;

    span {
      height: 30px !important;
    }
  }

  .skeletonTags {
    span {
      width: 30px !important;
      height: 20px !important;
      margin-right: 10px;
    }
  }
}

@media (max-width: 480px) {
  .root {
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .wrapper {
    padding: 5px 4px 5px;
  }

  .indention {
    padding-left: 25px;
  }

  .title {
    font-size: 15px;
    line-height: 20px;
  }

  .tags {
    margin: 0;
    line-height: 5px;
    li {
      font-size: 10px;
    }
  }

  .postDetails {
    margin: 10px 0 0 0;  
    li {
      font-size: 10px;
      margin-right: 5px;
  
      svg {
        font-size: 10px;
        margin-right: 2px;
      }
    }
  }

  .content {
    margin: 15px 0 0;
  
    p {
      margin: 0;
      font-size: 12px;
      line-height: 14px;
    }
  }
}